// Variables for reusability
$bg-color-navbar: #fff;
$bg-color-white: #ffffff;
$text-color-dark: #9e3ffe;
$text-color-hover: rgb(158, 63, 254);
$highlight-color: #fffbef;
$border-color-light: #d4d4d4;
$bg-color-wallet: #9e3ffe;
$bg-color-button: #9e3ffe;
$bg-color-overlay: rgba(0, 0, 0, 0.5);
$padding-navbar: 20px 32px;
$radius: 10px;
$z-index-overlay: 1000;
$z-index-modal: 1001;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-navbar;
  background-color: $bg-color-navbar;

  .logo {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }

  .navLinks {
    list-style: none;
    display: flex;
    gap: 1rem;

    a {
      color: $text-color-dark;
    }

    .unique {
      position: relative;
      cursor: pointer;
      color: #9e3ffe;
      .dropdown {
        min-width: 240px;
        top: 30px;
        padding: 16px;
        background-color: $bg-color-white;
        position: absolute;
        border-radius: 12px;
        z-index: 2;

        .dropdownItem {
          width: 100%;

          .dropdownLink {
            color: $text-color-dark;
            display: block;
            padding: 8px;
            width: 100%;
            transition: all 0.3s ease;

            &:hover {
              color: darken($text-color-hover, 10%);
              background-color: #fce8ff;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }

  .navLinks > li {
    position: relative;
    padding: 0.5rem;
    transition: all 0.3s ease;

    &:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #9e3ffe;
      bottom: 0;
      left: 0;
    }
  }

  .walletButton {
    padding: 0.5rem 1rem;
    background-color: $bg-color-wallet;
    border: 1px solid $text-color-hover;
    border-radius: $radius;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: $bg-color-white;
    &:hover {
      background-color: darken($bg-color-wallet, 10%);
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $bg-color-overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $z-index-overlay;
  }

  .modal {
    background: $bg-color-white;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: $radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: $z-index-modal;

    &:before {
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    .modalHeader {
      font-size: 20px;
      font-weight: bold;
      border-bottom: 1px solid $border-color-light;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      .closeButton {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
      }
    }

    .modalContent {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      color: #000;

      a {
        color: $text-color-hover;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;

        .connectButton {
          background-color: #F1E4FF;
          color: #9E3FFE;
          padding: 8px 16px;
          border: none;
          border-radius: $radius;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken(#F1E4FF, 10%);
          }
        }
      }

      p {
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
}

// Responsive media queries
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navLinks {
    padding: 0;
  }

  .walletButton {
    margin-top: 1rem;
  }
}
