.list_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  background-color: #f8f8f8;
  padding: 60px 32px;
  .latestBlocks {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px;

    .title {
      margin-bottom: 1rem;
      color: #333;
      font-size: 1.1rem;
    }

    .blockList {
      list-style: none;
      margin: 0;
      padding: 0;

      .blockItem {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 60px;
        padding: 0.5rem 0;
        // gap: 60px;
        border-bottom: 1px solid #eee;

        &:last-child {
          border-bottom: none;
        }
        .block_header {
          display: grid;
          grid-template-columns: 1fr 4fr;
          gap: 25px;

          .icon {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fce8ff;
            border-radius: 4px;
          }
          .blockNumber {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .number {
              width: 100%;
              color: #4173c4;
              font-weight: 400;
              font-size: 16px;
            }
            .timeAgo {
              display: block;
              font-size: 12px;
              font-weight: 400;
              color: #ababab;
            }
          }
        }
        .blockInfo {
          max-width: 365px;
          display: flex;
          flex-direction: column;
          gap: 4px;

          .wrap_validator {
            width: 100%;
            display: grid;
            grid-template-columns: 32% 68%;
            gap: 4px;
            .validator {
              font-size: 16px;
              font-weight: 400;
            }
            .validator_val {
              overflow: hidden;
              text-overflow: ellipsis;
              color: #4173c4;
              span {
                a {
                  color: #4173c4;
                }
              }
            }
          }
          .transactions {
            display: flex;
            gap: 4px;
            font-size: 14px;
            .label {
              font-weight: 400;
              color: #ababab;
            }
            .len {
              color: #000;
            }
          }
        }
      }
    }

    .viewAllButton {
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 8px 16px;
      margin-top: 1rem;
      color: #9e3ffe;
      background-color: #f1e4ff;
      border: 1px solid #9e3ffe;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken(#f1e4ff, 10%);
      }
    }
  }

  .latestTransactions {
    background-color: #ffffff;
    border-radius: 16px;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .title {
      margin-bottom: 1rem;
      color: #333;
      font-size: 1.1rem;
    }

    .transactionList {
      list-style: none;
      margin: 0;
      padding: 0;

      .transactionItem {
        display: grid;
        grid-template-columns: 25% 75%;
        gap: 60px;
        padding: 0.5rem 0;
        border-bottom: 1px solid #eee;

        .block_header {
          display: grid;
          grid-template-columns: 1fr 4fr;
          align-items: center;
          gap: 25px;

          .icon {
            width: 44px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f0f9fb;
            border-radius: 4px;
          }
          .blockNumber {
            display: flex;
            flex-direction: column;
            gap: 4px;
            .transactionId {
              color: #4173c4;
              font-weight: 400;
              font-size: 16px;
            }
            .timeAgo {
              display: block;
              font-size: 12px;
              font-weight: 400;
              color: #ababab;
            }
          }
        }
        &:last-child {
          border-bottom: none;
        }

        .transactionDetails {
          max-width: 365px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          .wrap_validator {
            display: flex;
            gap: 4px;
            .validator {
              display: block;
              font-size: 16px;
              font-weight: 400;
            }
            .validator_val {
              overflow: hidden;
              text-overflow: ellipsis;
              color: #4173c4;
              a {
                color: #4173c4;
              }
            }
          }
          span {
            display: block;
            color: #999;
            font-size: 0.9rem;

            &:last-child {
              color: #555;
              margin-top: 0.25rem;
            }
          }
        }
        .amount {
          display: flex;
          flex-direction: column;
          gap: 4px;
          .amount_label {
            font-size: 14px;
            font-weight: 400;
            color: #ababab;
          }
          .amount_data {
            font-size: 16px;
            font-weight: 500;
            color: #2a2831;
          }
        }
      }
    }

    .viewAllButton {
      color: #9e3ffe;
      display: block;
      text-align: center;
      margin: 0 auto;
      padding: 8px 16px;
      margin-top: 1rem;
      background-color: #f1e4ff;
      border: 1px solid #9e3ffe;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.2s;

      &:hover {
        background-color: darken(#f1e4ff, 10%);
      }
    }
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  display: block;
  width: 100%;
  height: 16px;
  background: linear-gradient(
      90deg,
      rgba(166, 166, 166, 0.067) 33%,
      rgba(130, 130, 130, 0.333) 50%,
      rgba(132, 132, 132, 0.067) 66%
    )
    #f2f2f2;
  background-size: 300% 100%;
  animation: l1 1s infinite linear;
  border-radius: 4px;
}
@keyframes l1 {
  0% {
    background-position: right;
  }
}
